label{
    margin: auto;
    display: block;
    width: 32%;
    font-size: 20px;
}

button{
    margin: auto;
    display: block;
    padding: 5px;
    cursor: pointer;
    border-radius: 7px;
}

button:hover{
    background-color: chocolate;
}

#container{
    height: 250px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid rgb(149, 201, 234);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(149, 201, 234);
}