 .product-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-card {
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px;
    cursor: pointer;
    width: 250px;
    transition: transform 0.2s ease-in-out;
    box-sizing: border-box;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .product-card {
      width: 100%; 
    }
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  .product-details {
    margin-top: 8px;
  }
  
  
  